<h1 class="title">My Bookstore</h1>

<div class ="d-flex">
    <nav>
        <ul class="pagination">
            {{#each alphaNum}}
            <li class="page-item"><a href="/{{this}}" class="page-link">{{this}}</a></li>
            {{/each}}
        </ul>
    </nav>
    <div></div>
</div>