<h1>My Bookstore</h1>

<nav>
    <ul class="pagination">
        {{#each alphaNum}}
        <li class="page-item"><a href="/{{this}}" class="page-link">{{this}}</a></li>
        {{/each}}
    </ul>
</nav>